/*#####################################################################################################################################33*/
/*				favoritesList PAGE --------- BEGIN */
/*#####################################################################################################################################33*/

.favoritesListPanel {
  opacity: 0.95;
  background-color: #4a4a4a;
}

.titleListCss .sapMSLITitle {
  width: 213px !important;
  height: 42px !important;
  font-family: OpenSans !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: right !important;
  color: #ffffff !important;
  border-right: 64px solid #4a4a4a !important;
  white-space: pre !important;
  padding-top: 0.200rem !important;
  padding-bottom: 0.200rem !important;
 }
.blackbackground{
	 opacity: 0.95 !important;
	 height: 100% !important;
   
}
.itemblackbackground{
	  background-color: #4a4a4a !important;
}

.blackbackground .sapMPanelContent{
  opacity: 0.95 !important;
  background-color: #4a4a4a !important;
}
.enterNewTimeCss  .sapMSLITitleOnly{
  width: 168px  !important;
  height: 50px !important;
  font-family: OpenSans;
  font-size: 16px  !important;
  font-weight: 600  !important;
  font-style: normal  !important;
  font-stretch: normal  !important;
  text-align: right  !important;
  color: #ffffff  !important;
  border-right: 64px solid #4a4a4a  !important;
  white-space: pre  !important;
  line-height: 50px !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.imageatright img {
	right:2.5px !important;
	position:absolute !important;
	width: 55px !important;
	height: 55px !important;
}
.cancelimg img {
	right:0px !important;
	position:absolute !important;
	width: 60px !important;
	height: 60px !important;
    bottom: 0px !important;
}
.backGroudPanel .sapMPanelBGTranslucent .sapMPanelContent
{
  opacity: 0.95;
  background-color: blue;
}
.pageHeaderCollapse header{
	background-color: #4a4a4a !important;
	box-shadow: inset 0 0rem 0px rgba(0,0,0,0) !important;
}

.frombottomtotop{
	position:absolute !important;
	bottom:40px !important;
	right: 0 !important;
	opacity: 0.95 !important;
    background-color: #4a4a4a !important;
    width: 100% !important;
}

.frombottomtotop .sapMLIB {
	border-bottom:0px !important;
}
.frombottomtotop  .sapMPanelContent{
  padding: 0rem !important;
  border-bottom: 1px solid #4a4a4a !important;
  bottom:0px !important;
  position: absolute !important;
  right: 5px !important;
}

.frombottomtotop .sapMSLIDescription{
  width: 217px !important;
  height: 0px !important;
  font-family: OpenSans !important;
  font-size: 12px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: right !important;
  color: #ffffff !important;
  border-right: 64px solid #4a4a4a !important;
}


.whitebackground .sapMPanelBGTranslucent .sapMPanelContent
{
  opacity: 0.95;
  background-color: white;
}

.labelwhitespace{
	    white-space: pre !important;
	    position: relative !important;
} 

.labelwhitespace .sapMLabel{
	    white-space: pre !important;
}

/*.content-container {
    position: absolute !important;
    left: 0 !important;
    top: 80px !important;
    bottom: 1px !important;
    width: 100% !important;
    height:100% !important;
    z-index: 11 !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}*/
.listscroll .sapMList {
   width: 100% !important;
   height: 300px !important;
   overflow: scroll;
}


.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}
/*#####################################################################################################################################33*/
/*				favoritesList PAGE --------- END */
/*#####################################################################################################################################33*/