/*#####################################################################################################################################33*/
/*				PROJECTTIMEPAGE PAGE --------- BEGIN */
/*#####################################################################################################################################33*/
/* iphone5 ve daha küçüğü */
@media all and (min-width: 0px) and (max-width: 326px) and (orientation: portrait) ,all and (min-width: 0px) and (max-width: 580px) and (orientation: landscape)  {

.textcenter{
	  margin-top: 0 !important;
      margin-bottom: 0 !important;
}
}


/* iphone6 ve daha büyüğü */
@media all and (min-width: 327px) and (orientation: portrait), all and (min-width: 581px)  and (orientation: landscape) {
.paddingbottom{
	 padding-bottom: 16px !important;
	 padding-top: 0px !important;
}
}
.paddingbottom{
	 padding-bottom: 16px !important;
	 padding-top: 0px !important;
}
.vboxpaddingbottom{
	 padding-bottom: 7px !important;
}
.projecttimepagestyle
{
	  background-color: #f2f2f2 !important;
}
.projecttimelabelstyle .sapMLabel {
    font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    color: #53565a !important;
}
.panelstyle{
	background-color: white !important;
    position: absolute !important;
    left: 10px !important;
    right: 10px !important;
    top: 10px !important;
}

.panelpadding .sapMPanelContent
{
    padding: 0.5rem !important;
}
.leftstyle{
	left: 5% !important;
}
.labelhw{
height: 19px !important;
widht:67px !important;
}

.inputstyle .sapMMultiInputBorder{
	height: 45px !important;
    object-fit: contain !important;
    background-color: #ffffff !important;
    border: solid 1px #e0e0e0 !important;
}

.deletebtnstyle .sapMBtnInner.sapMBtnText{
	height: 45px !important;
    width: 45px !important;
    object-fit: contain !important;
    line-height: 3rem !important;
}
.savehoursstyle{
	    width: 100% !important;
	    background-color: #86bc25 !important;
	    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0) !important;
	    bottom: 0px !important;
        position: fixed !important;
        display: block !important;
}

.savehoursstyle .sapMBtnInner{
	    width: 100% !important;
	    background-color: #86bc25 !important;
	    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5) !important;
        background: #86bc25 !important
}

.savehourstextstyle .sapMBtnInner {
  font-family: OpenSans !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #ffffff !important;
  text-shadow: 0 0px 0 transparent !important;
  border: 1px solid #86bc25 !important;
}

.centerpanel .sapMFlexBoxAlignContentStretch
{
	align-content:center !important;
	position:absolute !important;
}

.siltext .sapMBtnText {
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: center !important;
  color: #ffffff !important;
}
.silbackground .sapMBtnContent{
  background-color: #bbbcbc !important;
}

.btn8saatbackground .sapMBtnContent{
    height: 2.45rem !important;
    padding: 0 0.1rem !important;
}

.silbtnpadding .sapMBtnInner.sapMBtnText {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.btn8saatpadding .sapMBtnInner.sapMBtnText {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    border: 1px solid #86bc25 !important;
    background-color: transparent !important;
    background: transparent !important;
}

.shadowTransparent .sapMBtnInner{
    text-shadow: 0 0px 0 transparent !important;
    background: #bfbfbf !important;
}

.btn8saatstyle .sapMBtnContent{
	/*  border: solid 1px #86bc25 !important;
	  background-color: white !important;
	  height: 2.39rem !important;*/
	  line-height: normal !important;
	  white-space: pre-line !important;
	  height: 2.5rem !important;
}
.btn8saattext .sapMBtnText{
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: center !important;
  color: #86bc25 !important;
  word-wrap: break-word !important;
  
   line-height: normal !important;
	  white-space: pre-line !important;
}


.btn8saatframe .sapMBtnInner{
  border: 1px solid #86bc25 !important;
}

.inlineText .sapMText{
   display: inline;
}

/*
.greenbutton{
		background-color:blue !important;
}
.greenbutton .sapMBtn:hover .sapMBtnHoverable {
	
	background-color:blue !important;
}*/

.projecttimetextstyle {
   width: 300px !important;
  height: 57px !important;
  object-fit: contain !important;
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  text-align: center !important;
  color: #4a4a4a !important;
     display: inline !important;

}


.emptytextstyle{
  height: 2px !important;
  object-fit: contain !important;
  text-align: center !important;
}

.daytextstyle{
  height: 19px !important;
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #53565a !important;
  object-fit: contain !important;
  text-align: left !important;
}
.textcenter{
	  text-align: center !important;
	  display:inline-block;
}

.projectnametextstyle{
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #4a4a4a !important;
}
.customernametextstyle {
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #4a4a4a !important;
}

.projectcodetextstyle{
  font-family: OpenSans !important;
  font-size: 14px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #4a4a4a !important;
}

.activitynotextstyle{
  font-family: OpenSans !important;
  font-size: 10px !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-stretch: normal !important;
  color: #4a4a4a !important;
}

input::-webkit-input-placeholder {
	font-family: OpenSans !important;
    font-size: 10px !important;
}
input::-ms-input-placeholder {
	font-family: OpenSans !important;
    font-size: 10px !important;
}

input::-moz-input-placeholder {
	font-family: OpenSans !important;
    font-size: 10px !important;
}

.styleInputBorder .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover{
	border-color: #9ACD66 !important;
}



.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}
/*#####################################################################################################################################33*/
/*				PROJECTTIMEPAGE PAGE --------- END */
/*#####################################################################################################################################33*/