/*arama logosunu sola sola*/

.searchPages .sapMSFS {
    left: 0px !important;
}

.labelFormat .sapMLabel {
    font-size: 14px !important;
    font-family: Open sans-serif !important;
    font-weight: normal !important;
}
/*arama iptal sağa yasla*/

.searchPages .sapMSFR {
    right: 0px !important;
}


/*arama textbox sağa kaydır*/

.searchPages .sapMSFI {
    margin-left: 2rem !important;
}


/* searchbox */

.searchPages .sapMSFF {
    width: 95% !important;
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-color:#97999b !important;
}


/* container için yapıldı */

.searchPages .divContainer {
    height: 48px !important;
    background-color: #97999b !important;
    margin: auto !important;
}

.searchPages .sapMSFB:after {
    color: #97999b !important;
}

.searchPages .imageSearchLoader {
    display: block !important;
    margin: auto !important;
    position: absolute !important;
    z-index: 10000 !important;
}

.searchPages .divSearchLoader {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.searchPages .sapMSLITitleOnly {
    font-size: 14px;
    font-family: Open-Sans;
}


.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}