/* Enter your custom styles here */

@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext:300italic,400italic,600italic,400,300,600); */


/*Tüm sayfalar için*/
/*
@media only screen and (max-device-width: 768px) and (max-device-height: 768px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg) !important;
        transform-origin: left top !important;
        width: 100vh !important;
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        height: 100vw !important;
    }
}
*/

/*MessageBox*/
.alignCenter {
                border-radius: 5px !important;
} 
.alignCenter.sapMDialog {
                padding-top: 2rem !important;
}
.alignCenter span, .alignCenter div, .alignCenter h1 {
                text-align:center !important;
                background-color: white !important;
}
.alignCenter footer  {
                background-color: white !important;
                border-top: solid 1px #d6d6d6 !important;
}
.alignCenter footer span {
                font-family: OpenSans !important;
                font-size: 16px !important;
                font-weight: normal !important;
                font-style: normal !important;
                font-stretch: normal !important;
                text-align: center !important;
                color: #86bc25 !important;
                text-shadow: none !important;
}
/*
.alignCenter * {
                border: 1px solid red !important;
}
.alignCenter header * {
                height: 2rem !important;
}
*/
.alignCenter header  {
                background-color: white !important;
                border-bottom: none !important;
                box-shadow: none !important;
                padding-top: 3px !important;
}

.alignCenter header h1 {
                font-family: OpenSans !important;
                font-size: 16px !important;
                font-weight: 600 !important;
                font-style: normal !important;
                font-stretch: normal !important;
                color: #53565a !important;
                top: -5px !important;
}
.alignCenter .sapMText {
                font-family: OpenSans !important;
                font-size: 14px !important;
                font-weight: normal !important;
                font-style: normal !important;
                font-stretch: normal !important;
                text-align: center !important;
                color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMDialogIcon.sapUiIcon {
                display: none !important;
}
.alignCenter footer button:nth-of-type(2) {
        border-left: solid 1px #d6d6d6 !important;
}

.sapMMessageToast {
	background-color: #0097A9 !important;
	color: #333333 !important;
	font-family: OpenSans !important;
	font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    text-shadow:0 0 #000000 !important;
}

.headerStyle{
	margin-right: -3rem !important;
}

#sapUiBusyIndicator {
	z-index:10000;
}



.btnCancelPanel {
    top: -60px !important;
    /* position: static; */
    z-index: 10000 !important;
	position: fixed !important;
}

.btnCancel {
	 z-index: 10000 !important;
    top: -1px !important;
    /*right: 15px !important;
    float: right !important;*/
}


.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}