.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}
ul.nav li {
 background-color:blue;
}
ul.nav li.selected {
 background-color:red;
}
.changeBackGroud{
	background-color: red !important;
	
}
.transperantBackGround{
	background-color: transparent !important;
}
.setMargintoBtn{
	margin-top: 1px !important;
}
.timeSheetSummaryPanel .sapMPanelBGTranslucent{
	overflow: hidden;
    position: relative;
    background-color: #E0E0E0 !important;
}
.timeSheetSummaryPanel .sapMListNoDataText{
	margin-right: auto !important;
	font-family: OpenSans !important;
    font-size: 13px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #9b9b9b !important;
}
.timeSheetSummaryPanel .sapMITH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #dddddd !important;
    height: 30px !important;
    pointer-events: none !important;
	cursor: default !important; 
}
/*.timeSheetSummaryPanel .sapMITBScrollContainer {
    padding: 1px 1px 0 1px;
    overflow: hidden;
    height: 40px;
    pointer-events: none !important;
    cursor: default !important;
    width: 326px;
   margin: 0 0rem !important; 
}
*/
.timeSheetSummaryPanel .sapMILIDiv {
	margin: 0px 0px 0px 0px !important;
	flex: auto;
    text-align: end;
}
.timeSheetSummaryPanel .sapMInputBaseInner:not(.sapMInputBaseStateInner){
	    border: 1px solid!important;
	    border-color: grey !important;
}
.timeSheetSummaryPanel .sapMITBFilterIcon{
	width: 20px !important;
    height: 20px !important;
    align-content: center !important;
}
.timeSheetSummaryPanel .sapMITBHead {
	margin: 0rem 5rem 0px 0px;
}
.timeSheetSummaryPanel .sapMITBFilterDefault{
	width: 20px !important;
    height: 20px !important;
    align-content: center !important;
    position: relative;
    background: none !important;
    border: transparent !important;
    /*left: 82px;*/
}
.timeSheetSummaryPanel .sapMITBFilter {
    /*margin: -1px 3.25rem !important;*/
    margin-left: -29px !important;
    padding-right: 15rem !important;
    
}
.timeSheetSummaryPanel .sapMITBFilter .sapMITBText {
    line-height: 0.9375rem;
    overflow: hidden;
    padding: 0.375rem 12px 0;
    position: relative;
    top: -51px;
    left: 45px; /**/
    text-overflow: ellipsis;
    width: 15rem;
    height: 2rem;
    text-align: left !important;
    font-family: OpenSans-Semibold !important;
    font-size: 16px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    color: #53565a !important;
}
.timeSheetSummaryPanel .sapMITBTab {
    /*width: 19rem;*/
}
.timeSheetSummaryPanel .sapMInputBaseInner  {
	text-align: center;
	border: black !important;
/*	position: absolute;
*/	
} 


.timeSheetSummaryPanel .sapMITBCount{
    visibility: hidden;
}


.timeSheetSummaryPanel .sapMITBArrowScrollRight {
	visibility: hidden;
}
.timeSheetSummaryPanel .sapMITBArrowScrollLeft {
	visibility: hidden;
}
.timeSheetSummaryPanel .sapMILILabel{
    color: #333333;
    white-space: pre;
    font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    max-width: 80% !important;
    min-width: 75% !important;
}
.timeSheetSummaryPanel .sapMLIB{
	background: #ffffff;
    height: 65px;
}
.timeSheetSummaryPanel .sapMPanelContent {    
	padding: 0rem;
}
.timeSheetSummaryPanel .sapMITBFilterIcon{
	/*border: transparent !important;*/
}

.timeSheetSummaryNewTimeSheet .sapMBtn {
	position: fixed !important;
	bottom:40px !important;
	right:25px !important;
	height:80px !important;
	width:80px !important;
	background-color: transparent !important;
    border: none !important;
    z-index: 84 !important;
}
.timeSheetSummaryLoadingPanel .sapMImg {
    width: 48px;
    height: 48px;
    position: fixed !important;
    bottom: 285px !important;
    right: 172px !important;
    background-color: transparent !important;
    border: none !important;
    z-index: 84 !important;
}
.timeSheetSummaryNewTimeSheet .sapMBtn span {
    background-color: transparent !important;
    border: none !important;
    height: 0px !important;
    width: 0px !important;
    display: inline-block;
    

}

.timeSheetSummaryNewTimeSheet .sapMBtn .sapMBtnContent{
	background: transparent !important;
	border: transparent !important;
	font-family: OpenSans !important;
    font-size: 17px !important;
    font-weight: bold  !important;
    font-style: normal !important;
    font-stretch: normal !important;
    color: #0097A9;
}
.timeSheetSummaryNewTimeSheet .sapMBtn .sapMBtnInner{
	background: transparent !important;
	border: transparent !important;
	font-family: OpenSans !important;
    font-size: 17px !important;
    font-weight: bold  !important;
    font-style: normal !important;
    font-stretch: normal !important;
    color: #0097A9;
}
.timeSheetSummaryNewTimeSheet .sapMImg {
	width: 55px !important;
    height: 55px !important;
    max-height: none !important;
}

.timeSheetSummaryWorkingHourImg .sapMImg {
    width: 150px !important;
    height: 55px !important;
    max-height: none !important;
    right: 0px !important;
    position: absolute !important;
 /*   left: -70px !important;*/
}

/*iphone6   ve üstü*/
/*@media all and (min-width: 375px) and (orientation: portrait), all and (min-width: 667px)  and (orientation: landscape) { 
.timeSheetSummaryPanel .sapMInputBaseInner  {
	    right: -83px;
	}	
}*/
/*iphone6 plus  ve üstü*/
/*@media all and (min-width: 414px) and (orientation: portrait), all and (min-width: 736px)  and (orientation: landscape) { 
.timeSheetSummaryPanel .sapMInputBaseInner  {
	    right: -112px;
	}	
}*/


/*ipad ve üstü*/
/*@media all and (min-width: 768px) and (orientation: portrait), all and (min-width: 1024px)  and (orientation: landscape) { 
.timeSheetSummaryPanel .sapMInputBaseInner  {
	    right: -250px;
	}	
}*/

/*@media all and (min-width: 768px) and (orientation: portrait), all and (min-width: 1024px)  and (orientation: landscape) {
.timeSheetSummaryPanel .sapMITBScrollContainer {
     margin: 1rem 1rem !important;
}
	
}*/

html.sap-phone .sapMITB .sapMITBHead, .sapMITB .sapMITBHead {
    margin-top: 0.25rem !important;
}