/*#####################################################################################################################################33*/
/*				WEEKVIEW PAGE --------- BEGIN */
/*#####################################################################################################################################33*/
 .alignleft,
    .alignright {
        bottom: 1.5rem !important;
        height: 4.250rem !important;
    }
    .alignleft span,
    .alignright span {
    	font-size: 16px !important ;
    }
    .alignleft span,
    .alignright span {
    	font-size: 16px !important ;
    }

/* iphone5 ve daha küçüğü */
@media all and (min-width: 0px) and (max-width: 326px) and (orientation: portrait) ,all and (min-width: 0px) and (max-width: 580px) and (orientation: landscape)  {
	.sapUiCalItem, .sapUiCalWeekNum {
		height: 2.9rem !important;
	}	
    .sapUiCalItem {
        background-color: white !important;
        width: 1rem;
        font-family: 'Open Sans' !important;
        font-size: 1rem !important;
        font-weight: 300 !important;
        font-style: normal !important;
        font-stretch: normal !important;
        color: #53565a !important;
    }
    .alignleft,
    .alignright {
        bottom: 1rem !important;
        height: 2.250rem !important;
        
    }
    .sapUiCalWidth {
        /*	margin: auto !important;*/
        position: absolute !important;
        /*top: 0 !important; left: 0 !important; bottom: 0 !important; right: 0 !important;
		height:400px !important;*/
        /*bottom: 14.563rem !important;*/
        top: 0rem !important;
    }
    .sapUiCalItems  {
		margin-top: -12px !important;
	}
}


/* iphone6 ve daha büyüğü */
@media all and (min-width: 327px) and (orientation: portrait), all and (min-width: 581px)  and (orientation: landscape) {
	.sapUiCalItem, .sapUiCalWeekNum {
		height: 2.9rem !important;
	}	
    .sapUiCalItem {
        background-color: white !important;
        width: 1.625rem;
        height: 1.875rem;
        font-family: 'Open Sans' !important;
        font-size: 1.375rem !important;
        font-weight: 300 !important;
        font-style: normal !important;
        font-stretch: normal !important;
        color: #53565a !important;
    }
    .alignleft,
    .alignright {
        bottom: 1.5rem !important;
        height: 4.250rem !important;
    }
    .sapUiCalWidth {
        /*	margin: auto !important;*/
        position: absolute !important;
        /*top: 0 !important; left: 0 !important; bottom: 0 !important; right: 0 !important;
  height:400px !important;*/
        /*bottom: 14.563rem !important;*/
        top: 1.625rem !important;
    }
}
    /*.sapUiCalHead {
    height: 5.000rem !important;
	}
	
	.sapUiCalHeadPrev {
	    top: 2.500rem !important;
	}
	
	.sapUiCalHeadNext {
	    top: 2.500rem !important;
	}
	
	.sapUiCalHeadB2 {
	    top: 0px !important;
	    margin: 0 auto 0 auto 0 auto 0 auto !important;
	}
	
	.sapUiCalHeadB1 {
	    margin-left: 4px;
	    top: 2.500rem !important;
	    position: absolute;
	}*/

/*------------------------------------------------------*/

/* takvimi ortalama*/
.sapUiCal .sapUiCalMonthView, .sapUiCal .sapUiCalRow{
	margin-left: 0rem !important;
}

.sapUiCalMonthView {
	margin-top: -6px !important;
	width: 100% !important;
}
.sapUiCalMonthView .sapUiCalFirstWDay {
	margin-left:3px !important;
}

.sapUiCalHeadB {
    font-family: 'Open Sans' !important;
    font-size: 1rem !important;
    color: black !important;
    
}

.sapUiCalWH {
    font-family: 'Open Sans' !important;
}

.sapUiCalItemSel {
    background-color: #007cc0 !important;
    color: white !important;
}

.sapUiCalWDay0 {
    color: #97999b !important;
}

.sapUiCalItemOtherMonth {
	color: #97999b !important;
    /*color: #cccccc !important;*/
}

.sapUiCalItemOtherMonth .sapUiCalItemWeekEnd {
	color: #97999b !important;
    /*color: #cccccc !important;*/
}


/*.sapUiCalItemWeekEnd {
    background-color: #e5e5e5 !important;
}*/

.sapUiCalItemWeekEnd.sapUiCalItemDsbl {
    /*background-color: rgba(229,229,229,0.5) !important;*/
    background-color: white !important;
}

.sapUiCalItemDsbl {
    /*background-color: rgba(242,242,242,0.5) !important;*/
    background-color: white !important;
    /*color: rgba(242, 242, 242, 0.8) !important;*/
    /*color: #cccccc !important;*/
    color: #97999b !important;
}

.sapUiCalHeadText {
    background-color: lightgray !important;
    color: black !important;
}


/*yeşil renkli, yani tüm gün için giriş yapılmış*/

.sapUiCalItemType01 .sapUiCalItemText {
    box-shadow: inset 0 -0.125rem 0 #43B02A !important;
}


/*kırmızı renkli, yani hiç giriş yapılmmamış*/

.sapUiCalItemType02 .sapUiCalItemText {
    box-shadow: inset 0 -0.125rem 0 #DA291C !important;
}


/*sarı renkli, yani giriş yapılmış ama tüm günü kapsamıyor*/

.sapUiCalItemType03 .sapUiCalItemText {
    box-shadow: inset 0 -0.125rem 0 #ffcd00 !important;
}

.sapUiCalWeekNum {
	width: 0px !important;
    display: none !important;
}

.whitebackground {
    background-color: white !important;
}
.sapUiCalHeadPrev, .sapUiCalHeadNext {
	visibility:hidden !important;
}

.sapUiCalMonthView .sapUiCalWH, .sapUiCalMonthView .sapUiCalItem {
    width: 14% !important;
}

.sapUiCalHead {
	line-height: 2.5rem !important;
	text-align: center !important;
	font-family: 'Open Sans' !important;
    font-size: 1rem !important;
    color: black !important;

}	
.sapUiCalHead button {
	/*display:none !important;*/
	pointer-events: none !important;
	cursor: default !important;
	}
.sapUiCalHeadBFirst {
	text-align: right !important;
}
.sapUiCalHeadBLast {
	text-align: left !important;
}
/* Ender: aşağıdaki 2 style depoly edildikten sonra kaldırılıp denenecek, telefonun orientation'ı değişince calendar ekrana sığmıyor onun için eklendi bunlar...*/

.sapUiCalHead {
    padding-top: 0.25rem !important;
    padding-bottom: 0 !important;
}

.sapUiCal {
    padding: 0 0 0 0 !important;
    margin-top: -6px !important;
     width: 100% !important; /* ender */
}



.alignright {
    right: 10px;
    position: absolute !important;
    width: 160px !important;
    
    background-color: white !important;
}

.alignright, .alignright div, .alignright span { /* ender */
    margin-right: 8px !important;
    background-color: white !important;
    background: none !important;
    border: none;
    font-family: 'Open Sans' !important;
    text-align:right !important;
}

.alignright img {
    background-color: white !important;
}

.alignleft {
    left: 10px;
    position: absolute !important;
    width: 160px !important;
    
    background-color: white !important;
}
.alignleft, .alignleft div, .alignleft span  { /* ender */
    margin-left: 8px !important;
    background-color: white !important;
    background: none !important;
    border: none;
    font-family: 'Open Sans' !important;
    text-align:left !important;
}

.alignleft img {
    background-color: white !important;
}


.sapMFooter-CTX div.sapMBtnInner, .sapMIBar-CTX.sapMFooter-CTX .sapMBtnIcon{
    color: #86bc25 !important;
    text-shadow: 0 0px 0 rgba(0,0,0,0) !important;
}
.sapMIBar-CTX.sapMFooter-CTX{
	background-color: #ffffff !important;
}
.sapMDialog .sapMDialogScrollCont>*{
	font-family: OpenSans !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    text-align: center !important;
    color: #53565a !important;
}
.sapMDialog>header.sapMDialogTitle .sapMTitle{
	font-family: OpenSans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #53565a !important;
}

/*.colorwhite span {
	color: white !important;
}*/

/*#####################################################################################################################################33*/
/*				WEEKVIEW PAGE --------- END */
/*#####################################################################################################################################33*/